*{
    box-sizing: border-box ;
}
body{
    margin: 0 auto 0 auto;
    background-image: url(Images/krishnapankh.png);
    display: relative;
    padding: 0;
}
.text{
      font-size: 1.5em;
      margin: .5em;
}
.links ul {
    margin:0;
    padding:0;
    display: flex;
}
.links li{
    list-style: none;
    font-family: 'IM Fell English SC', serif;
}
.links li a{
    text-decoration: none;
    color:white;
    padding: 1rem;
    display: block;
}
.links li:hover{
    background-color:grey ;
}
.toggle{
    position: absolute;
  top: .75rem;
  right:1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle .bar{
    height: 3px;
    width:100%;
    background-color: white;
    border-radius: 10px;

}
@media(max-width: 400px){
    .toggle{
        display: flex;
    }
    .links{
        display:none;
    }
}
.navb{
    background-color: black;
    
    
    color:aliceblue;
    vertical-align: middle;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.about{
    text-align: center;
    
    
  
}
h1{
    
    color: white;
     height: 500%; 

    font-family: 'Great Vibes', cursive,Arial;
    font-size: 100px;
   
}
h2{
    margin: 0;
    color: whitesmoke;
    height: 500%;
    font-family: 'Coda', cursive,Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.Rights{
    text-align: center;
    color: aliceblue;
    position: absolute;
    left: auto;
    left:50%;
    bottom: 10px;
    background-color: black;
    
}

p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
   
}
.name{ 
    color: white;
    font-family: 'Fredericka the Great', cursive,sans-serif;
    font-size: 30px;
    background-color: black;
}
.author{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}