*{
    box-sizing: border-box ;
}
body{
    margin: 0 auto 0 auto;
    background-image: url(Images/krishnapankh.png);
    display: relative;
    padding: 0;
}
.text{
      font-size: 1.5em;
      margin: .5em;
}
.links ul {
    margin:0;
    padding:0;
    display: flex;
}
.links li{
    list-style: none;
    font-family: 'IM Fell English SC', serif;
}
.links li a{
    text-decoration: none;
    color:white;
    padding: 1rem;
    display: block;
}
.links a:hover{
    background-color:grey ;
}

@media(max-width: 300px){
    
    
    .navb{
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .links ul{
        width: 100%;

    }
   
    
    
  
}
.navb{
    background-color: black;
    
    
    color:aliceblue;
    vertical-align: middle;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.about{
    text-align: center;
    
    
  
}
h1{
    
    color: white;
     height: 500%; 

    font-family: 'Great Vibes', cursive,Arial;
    font-size: 100px;
   
}
h2{
    margin: 0;
    color: whitesmoke;
    height: 500%;
    font-family: 'Coda', cursive,Arial, Helvetica, sans-serif;
    font-size: 50px;
}

/* .Rights{
    text-align: center;
    color: aliceblue;
    position: absolute;
    left: auto;
    left:50%;
    bottom: 10px;
    background-color: black;
    
} */

p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
   
}
.name{ 
    color: white;
    font-family: 'Fredericka the Great', cursive,sans-serif;
    font-size: 30px;
    background-color: black;
}
.author{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}
hr{
    border-style: dotted none none;
    border-color: rgb(255, 247, 247);
    border-width: 5px;
    width: 5%;
}
.profileimg{
    display: block;
    width: 30%;
    margin:0 auto 0 auto;
    
}
td{
    width: auto;
    color: white;
    font-family:  Arial, Helvetica, sans-serif
}
h3{
    color: white;
}
.designation{
    text-align: center;
}
a{
    color: rgb(49, 249, 116);
    text-decoration: none;
}
li{
    color: white;
}
th{
    color: white;
}
.logo{
    width: 30px;
}
div{
    text-align: center;
 }
 .social{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
 }
 .Rights{
    text-align: center;
 }
 .contact{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
 }
 label{
    color: white;
 }
 form{
    text-align: center;
 }
